# IMPORT RAW DATASET

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/Drive')

%cd /content/Drive/MyDrive

Mounted at /content/Drive
/content/Drive/MyDrive

In [3]:
df = pd.read_csv('/content/Drive/MyDrive/House_price_predictor/dataset/raw_data/house_raw.csv')
city_df = pd.read_csv('/content/Drive/MyDrive/House_price_predictor/dataset/raw_data/city_raw.csv')

# INITIAL DATA ANALYSIS

In [4]:
df.head()

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,Atlanta-Sandy Springs-Alpharetta
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,Atlanta-Sandy Springs-Alpharetta
2,2012-05-31,125500.0,217450.0,63.913043,119.919216,24.0,40.0,63.0,60.0,144.5,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202681.309539,Atlanta-Sandy Springs-Alpharetta
3,2012-06-30,153000.0,189900.0,81.598080,105.617353,34.0,46.0,50.0,57.0,126.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202998.603897,Atlanta-Sandy Springs-Alpharetta
4,2012-07-31,165500.0,154000.0,81.598080,83.921175,39.0,49.0,42.0,50.0,80.0,...,2677.0,710.0,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,203781.903446,Atlanta-Sandy Springs-Alpharetta

In [5]:
df.shape

(884092, 39)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884092 entries, 0 to 884091
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          884092 non-null  object
 1   median_sale_price             884092 non-null  float64
 2   median_list_price             884092 non-null  float64
 3   median_ppsf                   884092 non-null  float64
 4   median_list_ppsf              884092 non-null  float64
 5   homes_sold                    884092 non-null  float64
 6   pending_sales                 884092 non-null  float64
 7   new_listings                  884092 non-null  float64
 8   inventory                     884092 non-null  float64
 9   median_dom                    884092 non-null  float64
 10  avg_sale_to_list              884092 non-null  float64
 11  sold_above_list               884092 non-null  float64
 12  off_market_in_two_weeks       884092 non-null  float64
 13  city                          884092 non-null  object
 14  zipcode                       884092 non-null  int64
 15  year                          884092 non-null  int64
 16  bank                          884092 non-null  float64
 17  bus                           884092 non-null  float64
 18  hospital                      884092 non-null  float64
 19  mall                          884092 non-null  float64
 20  park                          884092 non-null  float64
 21  restaurant                    884092 non-null  float64
 22  school                        884092 non-null  float64
 23  station                       884092 non-null  float64
 24  supermarket                   884092 non-null  float64
 25  Total Population              884092 non-null  float64
 26  Median Age                    884092 non-null  float64
 27  Per Capita Income             884092 non-null  float64
 28  Total Families Below Poverty  884092 non-null  float64
 29  Total Housing Units           884092 non-null  float64
 30  Median Rent                   884092 non-null  float64
 31  Median Home Value             884092 non-null  float64
 32  Total Labor Force             884092 non-null  float64
 33  Unemployed Population         884092 non-null  float64
 34  Total School Age Population   884092 non-null  float64
 35  Total School Enrollment       884092 non-null  float64
 36  Median Commute Time           884092 non-null  float64
 37  price                         884092 non-null  float64
 38  city_full                     884092 non-null  object
dtypes: float64(34), int64(2), object(3)
memory usage: 263.1+ MB

# MAPPING CITY, LATITUDE & LONGITUDE

In [7]:
city_df.head()

        City  Latitude  Longitude
0    Atlanta     33.75     -84.39
1     Austin     30.27     -97.74
2     Boston     42.36     -71.06
3  Baltimore     39.29     -76.61
4    Chicago     41.88     -87.63

## FUNCTION TO CLEAN CITY NAMES

In [8]:
def clean_text(x):
  x = x.lower()
  x = x.strip()
  x = x.split('-')[0]
  x = x.split('_')[0]
  x = x.replace('.','')
  x = x.replace('city','')
  return x

df['city_full'] = df['city_full'].apply(clean_text)
city_df['city_full'] = city_df['City'].apply(clean_text)
city_df.drop(columns=['City'], inplace=True)

## MERGE 2 DATAFRAMES TO MAP CITY WITH LATITUDE AND LONGITUDE

In [9]:
df = pd.merge(df , city_df, on='city_full', how='left')

In [10]:
df.head()

,date,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,...,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,city_full,Latitude,Longitude
0,2012-03-31,46550.0,217450.0,31.813674,110.183666,14.0,23.0,44.0,64.0,59.5,...,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,200773.999557,atlanta,33.75,-84.39
1,2012-04-30,61870.0,245000.0,40.723982,130.528256,22.0,29.0,56.0,69.0,89.5,...,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202421.064584,atlanta,33.75,-84.39
2,2012-05-31,125500.0,217450.0,63.913043,119.919216,24.0,40.0,63.0,60.0,144.5,...,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202681.309539,atlanta,33.75,-84.39
3,2012-06-30,153000.0,189900.0,81.598080,105.617353,34.0,46.0,50.0,57.0,126.0,...,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,202998.603897,atlanta,33.75,-84.39
4,2012-07-31,165500.0,154000.0,81.598080,83.921175,39.0,49.0,42.0,50.0,80.0,...,279500.0,3171.0,460.0,5408.0,5408.0,2492.0,203781.903446,atlanta,33.75,-84.39

In [11]:
df.isnull().sum()

date                            0
median_sale_price               0
median_list_price               0
median_ppsf                     0
median_list_ppsf                0
homes_sold                      0
pending_sales                   0
new_listings                    0
inventory                       0
median_dom                      0
avg_sale_to_list                0
sold_above_list                 0
off_market_in_two_weeks         0
city                            0
zipcode                         0
year                            0
bank                            0
bus                             0
hospital                        0
mall                            0
park                            0
restaurant                      0
school                          0
station                         0
supermarket                     0
Total Population                0
Median Age                      0
Per Capita Income               0
Total Families Below Poverty    0
Total Housing Units             0
Median Rent                     0
Median Home Value               0
Total Labor Force               0
Unemployed Population           0
Total School Age Population     0
Total School Enrollment         0
Median Commute Time             0
price                           0
city_full                       0
Latitude                        0
Longitude                       0
dtype: int64

# DROPPING DUPLICATED ROWS

In [12]:
df[df.duplicated()].shape[0]

0

In [13]:
df[df.drop(columns=['date']).duplicated()].shape[0]

7363

In [14]:
df = df.drop_duplicates(subset=df.drop(columns=['date']))

# ADJUST COLUMN NAMES

In [15]:
df.columns

Index(['date', 'median_sale_price', 'median_list_price', 'median_ppsf',
       'median_list_ppsf', 'homes_sold', 'pending_sales', 'new_listings',
       'inventory', 'median_dom', 'avg_sale_to_list', 'sold_above_list',
       'off_market_in_two_weeks', 'city', 'zipcode', 'year', 'bank', 'bus',
       'hospital', 'mall', 'park', 'restaurant', 'school', 'station',
       'supermarket', 'Total Population', 'Median Age', 'Per Capita Income',
       'Total Families Below Poverty', 'Total Housing Units', 'Median Rent',
       'Median Home Value', 'Total Labor Force', 'Unemployed Population',
       'Total School Age Population', 'Total School Enrollment',
       'Median Commute Time', 'price', 'city_full', 'Latitude', 'Longitude'],
      dtype='object')

In [16]:
df.columns=['date', 'median_sale_price', 'median_list_price', 'median_ppsf',
       'median_list_ppsf', 'homes_sold', 'pending_sales', 'new_listings',
       'inventory', 'median_dom', 'avg_sale_to_list', 'sold_above_list',
       'off_market_in_two_weeks', 'city', 'zipcode', 'year', 'bank', 'bus',
       'hospital', 'mall', 'park', 'restaurant', 'school', 'station',
       'supermarket', 'Total_Population', 'Median_Age', 'Per_Capita_Income',
       'Total_Families_Below_Poverty', 'Total_Housing_Units', 'Median_Rent',
       'Median_Home_Value', 'Total_Labor_Force', 'Unemployed_Population',
       'Total_School_Age_Population', 'Total_School_Enrollment',
       'Median_Commute_Time', 'price', 'city_full', 'Latitude', 'Longitude']

# SEPERATE YEAR / MONTH AND QUARTER FROM DATE

In [17]:
df['date'] = pd.to_datetime(df['date'])

In [18]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['quarter'] = df['date'].dt.quarter

In [19]:
df.drop(columns=['date'], inplace=True)

In [20]:
df['year'].sort_values().unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023], dtype=int32)

## SPLIT DATA INTO TRAIN & TEST BASED ON YEAR

In [21]:
train_df = df[df['year'] < 2020]
test_df = df[df['year'] >= 2020]

In [22]:
df.columns

Index(['median_sale_price', 'median_list_price', 'median_ppsf',
       'median_list_ppsf', 'homes_sold', 'pending_sales', 'new_listings',
       'inventory', 'median_dom', 'avg_sale_to_list', 'sold_above_list',
       'off_market_in_two_weeks', 'city', 'zipcode', 'year', 'bank', 'bus',
       'hospital', 'mall', 'park', 'restaurant', 'school', 'station',
       'supermarket', 'Total_Population', 'Median_Age', 'Per_Capita_Income',
       'Total_Families_Below_Poverty', 'Total_Housing_Units', 'Median_Rent',
       'Median_Home_Value', 'Total_Labor_Force', 'Unemployed_Population',
       'Total_School_Age_Population', 'Total_School_Enrollment',
       'Median_Commute_Time', 'price', 'city_full', 'Latitude', 'Longitude',
       'month', 'quarter'],
      dtype='object')

# SAVE TRAIN & TEST DATASET

In [23]:
train_df.to_csv('/content/Drive/MyDrive/House_price_predictor/dataset/processed_data/processed_train_data.csv', index=False)
test_df.to_csv('/content/Drive/MyDrive/House_price_predictor/dataset/processed_data/processed_test_data.csv', index=False)